# init.conf
#
# Configuration file for init.sh. Defaults can be changed as necessary: they 
# will get overwritten by any parameters given on the command-line.
#

### Generic settings

# Default operating system. Currently only used for determining the URL for 
# downloading the puppetlabs-release .deb package. Later the use may be extended 
# to support other operating system families such as RedHat.
OS="${OS:-jessie}"

# Get the IP for given FQDN from DNS
GET_IP_FROM_DNS="${GET_IP_FROM_DNS:-false}"

### Network settings

# Default interface name
IFACE="${IFACE:-eth0}"

# Use static ip? (true or false)
USE_STATIC_IP="${USE_STATIC_IP:-false}"
NETMASK="${NETMASK:-255.255.255.0}"
GATEWAY="${GATEWAY:-192.168.0.254}"
BROADCAST="${BROADCAST:-192.168.0.255}"
NAMESERVER="${NAMESERVER:-192.168.0.254}"

### Puppet settings
USE_PUPPETLABS_REPOS="${USE_PUPPETLABS_REPOS:-false}"
PUPPETMASTER="${PUPPETMASTER:-puppet.domain.com}"
